.main{
	width: 100%;
	height: 46em;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

.subTitle {
	font-size: 40px;
	font-family: "Broadway";
	margin: 15px;
	float: left;
}

.topBar {
	width: 100%;
	height: 10%;
	background-color: black;
	display: inline-block;
	font-size: 11;
	margin: 0px;
	margin-bottom: 0px;
	padding: 2px;
	border-size: 2px;
	border-style: solid;
	border-color: black;
}


.middleArea{
	width: 100%;
	height: 90%;
	background-color: ;#D1F0EC;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	margin-top: 0px;
	display: inline-block;
}

.bodyText{
	font-size: 23px;
	margin-left: 15px;
}


.title {
	font-size: 50px;
	font-family: "Broadway";
	vertical-align: middle;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: white;
	
}

.topBarButton {
	height: 50px;
	width 150px;
	float: right;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: black;
	font-size: 24px;
	font-color: white;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

