.main{
	width: 100%;
	height: 46em;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border: 0;
	margin-bottom = 0px;
}

.subTitle {
	font-size: 40px;
	font-family: "Broadway";
	margin: 15px;
	float: left;
}

.topBar {
	width: 100%;
	height: 10%;
	background-color: black;
	display: inline-block;
	font-size: 11;
	margin: 0px;
	margin-bottom: 0px;
	padding: 2px;
	border-size: 2px;
	border-style: solid;
	border-color: black;
}


.middleArea{
	width: 100%;
	height: 90%;
	background-color: #D1F0EC;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: center;
	margin-top: 0px;
	display: inline-block;
}

.contentArea{
	width: 100%;
	height: 30%;
	margin-top: 20px;
}

.title {
	font-size: 50px;
	font-family: "Broadway";
	vertical-align: middle;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #FAFAD2;
	
}

.topBarButton {
	height: 50px;
	width 150px;
	float: right;
	background-color: #FAFAD2;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: black;
	font-size: 24px;
	font-color: white;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#progressButton {
	height: 50px;
	width 150px;
	float: center;
	background-color: #FAFAD2;
	margin-top: 5em;
	margin-bottom: 200px;
	color: black;
	font-size: 24px;
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	vertical-align: top;
}

table{
	border: 5px solid black;
	font-size: 30px;
	padding: 5px;
	margin: auto;
	margin-top: 10vh;


}

th,td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

#speech{
	text-decoration: none;
	color: #000080;
}

#speechName:hover{
	background-color: white;
}

th {
	font-weight: bold;
	
}

canvas {
  margin: 30px auto;
  display: block;
}

.bodyText{
	font-size: 23px;
	margin: 0px;
	margin-left: 15px;
	text-align: left;
}

.tableText{
	
}